@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url('../fonts/Laquile\ Serif.ttf') format('truetype');
}
@font-face {
    font-family: nue;
    src: url('../fonts/TT\ Firs\ Neue\ Trial\ Black.ttf') format('truetype');
}

body {
    margin: auto;
    background-image: linear-gradient(to left, #0A0A0A, #240F0F);
}
header {
    text-align: center;
}
#backbutton {
    margin-left: 40px;
}
header > p {
    margin: 0;
}
header > h1 {
    font-family: titulo;
    letter-spacing: 1px;
    color: white;
    margin: 25px 0 0 0;
}
header > h1 > span {
    color: #A54599;
}
main > h2 {
    text-align: center;
    color: #A54599;
    font-family: nue;
}
div.principalastra {
    margin: 0 0 0 200px;
}
article {
    width: 400px;
    margin: -400px 0 0 650px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
article > h2 {
    font-family: nue;
}
p.bio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    text-align: justify;
    text-indent: 20px;
}
section {
    margin: 100px 0 0 0;
    display: flex;
    gap: 20px;
    margin: 0 25px;
}
div.habilidades > h2 {
    text-align: center;
    font-family: nue;
    color: white;
    letter-spacing: 1px;
}
div.videos > details > summary > abbr > h3, p {
    width: 300px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
div.videos > details > summary > abbr > h3 {
    cursor: pointer;
}
div.videos > details > p {
    text-align: justify;
    text-indent: 20px;
}
video {
    box-shadow: 0 0 10px 5px #00000054;
}
#mainplay > article.belky {
    margin: auto;
    margin-left: 95px;
    text-align: center;
    color: #ffffff;
}
#mainplay > article.belky > p {
    text-align: justify;
    text-indent: 20px;
    width: 500px;
}
#mainplay {
    margin-bottom: 40px;
}
aside {
    font-family: monospace;
    font-size: 15px;
}
img.imgbelky {
    border: 3px solid #A54599;
    border-radius: 4px;
    margin: 50px 0 0 120px;
}
aside > a {
    color: white;
}
aside > a:hover {
    color: #7c7cec;
}
article.bonus {
    margin: auto;
}
#bonusparagrafo {
    display: flex;
    width: 750px;
    margin: 0 0 0 -150px;
    gap: 120px;
}
p > a {
    color: white;
}
p > a:hover {
    color: #7c7cec;
}
.imgdouglas {
    border: 3px solid #A54599;
    border-radius: 4px;
}

@media screen and (max-width: 1024px) {
    main {
        margin: auto;
    }
    main article {
        margin-left: 500px;
    }
    div.principalastra img {
        margin-left: -100px;
    }
    section {
        margin: auto;
    }
    div.videos {
        width: 215px;
        margin-left: 12px;
    }
    div.videos video {
        width: 215px;
    } 
    details {
        font-size: 10px;
    }
    details p {
        width: 200px;
    }
    details summary {
        margin: auto;
        margin-left: -50px;
    }
    img.imgbelky {
        margin-left: 100px;
    }
    #mainplay > article.belky > p {
        width: 400px;
    }
    article.belky {
        width: 400px;
    }
}

@media screen and (max-width: 460px) {
    body {
        margin: auto;
        font-size: 10px;
    }
    div.principalastra img {
        margin-left: -150px;
    }
    main article {
        margin: auto;
        padding-left: 10px;
    }
    p.bio {
        width: 380px;
    }
    section {
        display: block;
    }
    div.videos video {
        width: 400px;
    } 
    div.videos {
        margin-left: 20px;
    }
    div.habilidades {
        font-size: 16px;
    }
    details {
        font-size: 16px;
        text-align: center;
    }
    details p {
        width: 400px;
    }
    details summary {
        margin-left: 50px;
    }
    img.imgbelky {
        margin: auto;
        margin-left: 70px;
    }
    #mainplay > article.belky {
        font-size: 16px;
        width: 400px;
        margin: 0;
        display: block;
    }
    article.bonus {
        margin: auto;
        width: 400px;
    }
    #bonusparagrafo {
        width: 400px;
        margin: auto;
        display: block;
    }
    #bonusparagrafo > p {
        margin-left: 33px;
    }
    #mainplay > article.belky > p {
        padding: 0;
        width: 400px;
    }
    img.imgdouglas {
        margin-left: 33px;
    }
}